env:
  JAVA_HOME: {{java_home}}
  JAVA_OPTS: "-XX:+UseCompressedOops"
  PORT: 8080
build:
  lib_dirs:
    - target
{{#has_maven}}
    - .m2
{{/has_maven}}
{{#has_bower}}
    - node_modules
    - bower_components
{{/has_bower}}
